<body>
  <div class="container">
    <h2 class="center">Super Coach App</h2>
    <p class="center mb"> Ask anything to the online coach! </p>
    <form action="/answer" class="center">
      <input type="text" name="question" placeholder="ask what you want" class="custom-input">
      <input type="submit" value="Ask!" class="custom-btn">
    </form>
  </div>

</body>
